@import "../mixines/fonts.scss";

.slider {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__img {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        transition: 1s;
    }
    &__dots {
        display: flex;
        gap: 0.625rem;
        margin-bottom: 6.56rem;
    }
    &__dot {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: #efeef6;
        cursor: pointer;
        transition: 0.5s;
    }
    &__dot:hover {
        background-color: #9e98dc;
    }
}

.decoration-block_purple {
    max-width: 9.3125rem;
    background-color: #9e98dc;
    padding: 6.375rem 1.25rem 1.25rem;
    position: absolute;
    z-index: 1;
    top: 4.9375rem;
    right: -4.625rem;
    box-shadow: 5px 26px 53px -20px rgba(0, 0, 0, 0.75);
    &__text_purple {
        @include montserrat-bold;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        max-width: 6.8125rem;
        background-color: #9e98dc;
        cursor: pointer;
    }
    &__icon_purple {
        background-color: #9e98dc;
        cursor: pointer;
    }
}

.decoration-block_pink {
    position: absolute;
    z-index: 1;
    right: -9.5rem;
    top: 21.68rem;
    max-width: 8.5625rem;
    padding: 9.3125rem 2.9375rem 1.25rem 1.25rem;
    background-color: #ff8fe6;
    box-shadow: 5px 26px 53px -20px rgba(0, 0, 0, 0.75);
    &__text_pink {
        @include montserrat-bold;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        max-width: 4.3125rem;
        background-color: #ff8fe6;
        cursor: pointer;
    }
    &__icon_pink {
        background-color: #ff8fe6;
        cursor: pointer;
    }
}

.active-dot {
    background-color: #9e98dc;
    transition: 0.5s;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
