@import "../mixines/fonts.scss";

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.9rem 0 2.5rem 0;
    &__nav-list {
        display: flex;
        gap: 2.5rem;
    }
    &__nav-list-link {
        @include montserrat-bold;
        text-decoration: none;
        color: #5c6a79;
        text-transform: uppercase;
        font-size: 0.625rem;
    }
    &__buttons-list {
        display: flex;
        gap: 2.5rem;
        align-items: center;
    }
    &__button {
        border-style: none;
        cursor: pointer;
    }
    &__button-img {
        display: block;
    }
}
