@import "../mixines/buttons/btn.scss";
@import "../mixines/fonts.scss";

.btn-wrapper {
    padding-bottom: 4.7rem;
    &__load-btn {
        display: block;
        margin: 0 63.125rem;
        @include default-btn;
        @include montserrat-bold;
        transition: 0.5s;
        &:hover {
            @include default-btn-hover;
        }
    }
}

.load-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 37.5rem;
}
