@import "./utils/normalize.scss";
@import "./utils/reset.scss";
@import "./variables/variables.scss";
@import "./header/header.scss";
@import "./slider/slider.scss";
@import "./categories/categories.scss";

* {
    background: $main-background-color;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
}

.content-wrapper {
    max-width: 90rem;
    margin: 0 auto;
}
